.boton {
    text-align: center;
    font-family: "Nanum Gothic", sans-serif !important;
    color: #ffffff !important;

    .li {
        color: #ffffff;
        text-decoration: none;
    }

      

}