.fondo_menu {
  background-color: #162714;
  height: 150px;

  .contenedor-menu { 
    text-align: center;
  }

  .estilomenu {
    @extend %menu;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 30px;
    
  }
   a {
    display: inline-block;  
    padding: 10px;
  }
   
}

  