.fondo_menu {
  background-color: #162714;
  height: 150px;

  .contenedor-menu { 
    text-align: center;
  }

  .estilomenu {
    @extend %menu;
  }

  .links {
    display: flex;
    position: relative;
    bottom: 30px;
    justify-content: space-evenly; 
     
     
  }
  
  .links button {
    background-color: #042e13 !important;
    border: #042e13 !important;
  
  }

  .btn a {
    text-decoration: none;
    color: #ffffff;
  }

   
}

  