* {
  margin: 0;
  padding: 0;
}

.estilosh1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  margin: auto;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  color: #162714;
  padding: 10px;
}

.estilosub {
  font-family: "Nanum Gothic", sans-serif;
  font-size: x-large;
  margin: 10px;
  font-weight: 700;
  text-align: center;
  color: #31572c;
}

.estilosh2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: large;
  margin: 10px;
  font-weight: 200;
  text-align: left;
  color: #31572c;
}

.estiloh3 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: small;
  margin: 10px;
  font-weight: 500;
  text-align: center;
  color: #31572c;
}

.estilo-nosotros {
  font-family: "Nanum Gothic", sans-serif;
  font-size: large;
  font-weight: 900;
  text-align: left;
  color: #31572c;
  padding-bottom: 5px;
  padding-top: 10px;
}

.estilomenu {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.parrafos {
  font-family: "Nanum Gothic", sans-serif;
  font-size: medium;
}

.parrafo-menu {
  display: block;
  text-align: center;
  padding: 0px;
}

.estilo-reserva {
  font-family: "Nanum Gothic", sans-serif;
  font-size: medium;
  text-align: center;
  margin: auto;
  padding: 50px;
  color: #31572c;
  text-decoration: none;
}

.estilo-mapa {
  font-family: "Nanum Gothic", sans-serif;
  font-size: larger;
  font-weight: 100;
  text-align: center;
  margin: auto;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
}

h6 {
  color: #ffffff;
  font-weight: 100;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.contenedor-nav {
  background-color: #162714;
  height: 150px;
}
.contenedor-nav .container-fluid {
  align-items: center !important;
  padding: 0 !important;
  position: relative !important;
  bottom: 20px;
  height: 200px;
}
.contenedor-nav .logo {
  width: 150px;
  height: 200px;
  margin: 10px;
  position: relative;
  bottom: 30px;
  margin-right: 80px;
}
.contenedor-nav .navbar-toggler {
  margin-right: 20px;
  position: relative;
  bottom: 30px;
}
.contenedor-nav .navbar {
  background-color: #162714 !important;
  position: static;
  height: 80px;
}
.contenedor-nav .navbar-nav a {
  color: #ffffff !important;
  position: relative;
  left: 40px;
  justify-content: center !important;
  margin: 50px;
}

.clearfix {
  margin: 10px;
}
.clearfix .sub-inicio {
  font-family: "Nanum Gothic", sans-serif;
  font-size: large;
  margin: 0;
  font-weight: 900;
  text-align: center;
  color: #31572c;
  grid-column: 1/4;
}
.clearfix .col-md-6.float-md-end.mb-3.ms-md-3 {
  width: 40vw !important;
  max-width: 100%;
  padding-bottom: 10px;
  margin-right: 20px !important;
}
.clearfix .contendor-mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #162714;
}
.clearfix .estilo-mapa {
  font-family: "Nanum Gothic", sans-serif;
  font-size: larger;
  font-weight: 100;
  text-align: center;
  margin: auto;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
}
.clearfix .mapa {
  max-width: 100%;
  height: 300px;
}

.container {
  text-align: left !important;
}
.container .img1 {
  width: 40vw;
  max-width: 100%;
}
.container .img2 {
  width: 40vw;
  max-width: 100%;
  padding-bottom: 10px;
}

.contenedor-logos {
  background-color: #162714;
  height: 80px;
}
.contenedor-logos .logos-footer {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  top: 15px;
}
.contenedor-logos .logos-footer img {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

/*# sourceMappingURL=estilos.css.map */
