%inicio {
    font-family: "Nanum Gothic", sans-serif;
    font-size: large;
    margin: 0;
    font-weight: 900;
    text-align: center;
    color: nth($list: $colores-texto, $n:2 );
    grid-column: 1/4;
}


%menu {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: nth($list: $colores-texto, $n:1);
}