.estilosh1 {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #113d0b;
    padding: 50px;
}

.estilosub {
    font-family: "Nanum Gothic", sans-serif;
    font-size: x-large;
    margin: 10px;
    font-weight: 700;
    text-align: center;
    color: #113d0b;
    padding: 20px;

}


.estilosh2 {
    font-family: "Nanum Gothic", sans-serif;
    font-size: large;
    margin: 10px;
    font-weight: 200;
    text-align: left;
    color: #113d0b;
}

.estiloh3 {
    font-family: "Nanum Gothic", sans-serif;
    font-size: small;
    margin: 10px;
    font-weight: 500;
    text-align: center;
    color: #113d0b;
}

.estilo-nosotros {
    font-family: "Nanum Gothic", sans-serif;
    font-size: larger;
    font-weight: 900;
    text-align: left;
    color: #113d0b;
    padding-bottom: 5px;
    padding-top: 10px;


}

.estilomenu {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    margin: auto;
    font-style: normal;
    font-weight: 400; 
    text-align: center;
    color: #ffffff;
  }

.parrafos {
    font-family: "Nanum Gothic", sans-serif;
    font-size: medium;
    
}

.parrafo-menu {
    display: block;
    text-align: center;
    padding: 0px;
}

.estilo-reserva {
    font-family: "Nanum Gothic", sans-serif;
    font-size: medium;
    text-align: center;
    margin: auto;
    padding: 50px;
    color: #113d0b;
    text-decoration: none;
}



h6 {
    color: #ffffff;
    font-weight: 100;
    position: absolute;
    bottom: 5px;
    left: 10px;

}

button {
    background-color: #162714 !important;
    border: #162714 !important;
  }




 

